@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #151515;
    font-family: 'Open Sans', sans-serif;
}

*::selection{
    background:#D9CAB3;
    color: #212121;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 17px;
}

html::-webkit-scrollbar-track{
    background: #D9CAB3;
}

html::-webkit-scrollbar-thumb{
    background: #BF9270;
}

/* HEADER START */
.loader-container {
    font-size: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;

    vertical-align: top;
    
  }
  
  .loader-1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    margin: -25px auto 0;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 50%);
    position: relative;
    -webkit-animation: loader-1 1.5s infinite linear;
    animation: loader-1 1.5s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .loader-1:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 100% 0 0 0;
  }
  
  .loader-1:after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff8000;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  @-webkit-keyframes loader-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .loader-2 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    position: relative;
    -webkit-animation: loader-2 0.9s 0.35s ease alternate infinite;
    animation: loader-2 0.9s 0.35s ease alternate infinite;
    margin: -20px auto 0;
  }
  
  .loader-2:after,
  .loader-2:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: loader-2 0.9s ease alternate infinite;
    -webkit-animation: loader-2 0.9s ease alternate infinite;
  }
  
  .loader-2:before {
    left: -20px;
    animation-delay: 0.2s;
  }
  
  .loader-2:after {
    right: -20px;
    animation-delay: 0.5s;
  }
  
  @keyframes loader-2 {
    0% {
      box-shadow: 0 15px 0 -15px #ffffff;
    }
    100% {
      box-shadow: 0 15px 0 #ffffff;
    }
  }
  
  @-webkit-keyframes loader-2 {
    0% {
      box-shadow: 0 15px 0 -15px #ffffff;
    }
    100% {
      box-shadow: 0 15px 0 #ffffff;
    }
  }
  
  .loader-3 {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -30px auto 0;
    text-align: center;
  }
  
  .loader-3 div {
    background-color: #ffffff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: loader-3 1.2s infinite ease-in-out;
    animation: loader-3 1.2s infinite ease-in-out;
  }
  
  .loader-3 .item-2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .loader-3 .item-3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .loader-3 .item-4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .loader-3 .item-5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes loader-3 {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4)
    }
    20% {
      -webkit-transform: scaleY(1.0)
    }
  }
  
  @keyframes loader-3 {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  
  .loader-4 {
    width: 10px;
    height: 10px;
    position: relative;
    animation: loader-4 1s ease infinite;
    top: 50%;
    margin: -30px auto 0 auto;
  }
  
  @-webkit-keyframes loader-4 {
    0%, 100% {
      box-shadow: -10px 15px 0 #ffffff, 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 rgba(255, 255, 255, 0.2); }
    25% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 #ffffff, 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 rgba(255, 255, 255, 0.2); }
    50% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 rgba(255, 255, 255, 0.2), 13px 46px 0 #ffffff, -10px 36px 0 rgba(255, 255, 255, 0.2); }
    75% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 #ffffff; } }
  
  @keyframes loader-4 {
    0%, 100% {
      box-shadow: -10px 15px 0 #ffffff, 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 rgba(255, 255, 255, 0.2); }
    25% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 #ffffff, 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 rgba(255, 255, 255, 0.2); }
    50% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 #ffffff, -10px 36px 0 rgba(255, 255, 255, 0.2); }
    75% {
      box-shadow: -10px 15px 0 rgba(255, 255, 255, 0.2), 10px 15px 0 rgba(255, 255, 255, 0.2), 10px 36px 0 rgba(255, 255, 255, 0.2), -10px 36px 0 #ffffff; } }


.wrapper{
    margin: 10px auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .wrapper .img{
    width: 325px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .wrapper .img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.header .wrapper .img h2{
    color: #fff;
}

.header .wrapper .menu ul{
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .wrapper .menu ul li a{
    color: #fff;
    font-size: 18px;
    transition: color .3s ease;
}

.header .wrapper .menu ul li a:hover{
    color: #D9CAB3;
}

/* HEADER FINISH */



/* main START */

.wrapper-02{
    margin: 0 auto;
    width: 85%;
}

.main-item{
    display: flex;
    justify-content: space-between;
}

.main .title{
    width: 500px;
    margin: 70px auto 100px;
    text-align: center;
}

.main .title h1{
    color: #fff;
    font-size: 37px;
    font-weight: 600;
}

.main-item_left{
    width: 50%;
    border-right: 1px solid #D9CAB3;
}
.a{
    position: absolute;
    margin:50px 100px ;
}
.main-item_left h2,
.main-item_right h2{
    font-size: 27px;
    color: #D9CAB3;
    text-transform: uppercase;
}

.skills .skill{
    width: 300px;
    margin: 17px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills .skill h3{
    color: #fff;
    font-size: 15px;
}

.percent-01{
    width: 170px;
    height: 13px;
    background-color: #D9CAB3;
    position: relative;
}

.percent-01::before{
    content: '';
    position: absolute;
    width: 65%;
    height: 13px;
    background-color: #BF9270;
}

.percent-01::after{
    content: '65%';
    position: absolute;
    right: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #212121;
    margin-top: -2px;
}

.percent-02{
    width: 170px;
    height: 13px;
    background-color: #D9CAB3;
    position: relative;
}

.percent-02::before{
    content: '';
    position: absolute;
    width: 45%;
    height: 13px;
    background-color: #BF9270;
}

.percent-02::after{
    content: '45%';
    position: absolute;
    right: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #212121;
    margin-top: -2px;
}

.percent-03{
    width: 170px;
    height: 13px;
    background-color: #D9CAB3;
    position: relative;
}

.percent-03::before{
    content: '';
    position: absolute;
    width: 35%;
    height: 13px;
    background-color: #BF9270;
}

.percent-03::after{
    content: '35%';
    position: absolute;
    right: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #212121;
    margin-top: -2px;
}

.percent-04{
    width: 170px;
    height: 13px;
    background-color: #D9CAB3;
    position: relative;
}

.percent-04::before{
    content: '';
    position: absolute;
    width: 35%;
    height: 13px;
    background-color: #BF9270;
}

.percent-04::after{
    content: '35%';
    position: absolute;
    right: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #212121;
    margin-top: -2px;
}

.education{
    margin: 100px 0 70px;
}

.education p{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.languages ul li{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.languages ul li a i{
    color: #BF9270;
    margin-right: 10px;
}

.main-item_right{
    width: 45%;
}

.main-item_right .about p{
    margin-top: 10px;
    width: 530px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
}

.main-item_right .about p span{
    font-weight: 600;
    line-height: 2.5;
}

.example-code{
    margin: 48px 0;
}

.example-code p{
    color: crimson;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 70px;
    line-height: 1.5;
}

.contact ul li{
    margin-top: 10px;
}

.contact ul li a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.contact ul li a i{
    color: #BF9270;
    margin-right: 10px;
}

/*mainFINISH */





/* FOOTER START */

.footer{
    width: 90%;
    height: 150px;
    margin: 50px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-img-01{
    width: 50px;
    height: 50px;
    margin-right: 7px;
    border-radius: 50px;
}

.footer-img-02{
    width: 50px;
    height: 50px;
    margin-right: 7px;
    border-radius: 50px;
}

.footer a{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.footer p{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    position: absolute;
    left: 48.7%;
}

/* FOOTER FINISH */
